.header-block {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    margin: 24px auto;
    max-height: 72px;
    min-width: 1153px;
    max-width: 1248px;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "a a a a a b";
}

.header-block-one {
    grid-area: a;
    text-align: start;
}

.header-block-two {
    display: flex;
    grid-area: b;
    margin: auto auto;
}

#project-title {
    font-weight: 900;
    color: #25282A;
    font-size: 36px;
    line-height: 36px;
}

#project-description {
    font-size: 14px;
    line-height: 18px;
    color: #999999;
}

.logos {
    margin-left: 5px;
    margin-top: 8px;
    height: 45px;
}
.search-box {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    margin: auto auto;
    height: 72px;
    width: 1153px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "a a b b";
    grid-template-rows: minmax(0, 1fr);
    justify-content: left;
    align-items: center;
   
    background: #FFFFFF;
    border: 4px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 10px;
}

.search-box p {
  font-size: 14px;
  color: #999999;
}

.search-box-one {
  max-height: 72px;
  display: flex;
  grid-area: a;
  border-right: 4px solid #E6E6E6;
}

.search-result p {
  margin-left: 16px;
  margin-top: 16px;
  font-weight: 900;
  font-size: 36px;
  color: #24272A;
}

.search-box-two {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  grid-area: b;
}

.alice-box, .bob-box {
  display: flex;
  width: 250px;
  margin-right: 16px;
}

.search {
    margin: 13px;
    width: 232px;
    height: 45px;
    background: #F8F8F8;
    border: 2px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 5px;
}
  
  input[type="submit"] {
    width: 94px;
    height: 45px;   
    background: #8FD6BD;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    outline:none;
    transition: all 0.5s;
  }

  input[type="text"] {
    margin-left: 8px;
    padding-left: 8px;
    font-size: 18px;
    line-height: 32px;
    color: #24272A;
  }
  
  .submit-button:hover {
    background-color: #00C08B;
    border: none;
    outline:none;
  }

  .alice, .bob {
    margin-right: 8px;
    width: 45px;
    height: 45px;
  }

  .bob {
    margin-top: 8px;
  }

  #bold {
    color: #24272A;
  }

  #bold-two {
    background-color: black;
    color: white;
    padding: 1px;
    border-radius: 4px;
  }

  button:active {
    border: none;
    transition: 0.5s;
  }

  .spinner {
    margin-top: -8px;
  }
.diagram {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    margin: auto auto;
    max-height: 72px;
    min-width: 1153px;
    max-width: 1153px;
}

.first-top-arrow, .second-top-arrow {
    position: absolute;
}

.first-top-arrow {
    margin-left: 68px;
}

.second-top-arrow {
    margin-left: 103px;
}

.oracle-explainer {
    display: grid;
    justify-content: end;
}

.oracle-explainer div {
    display: flex;
}

.oracle-explainer img {
    width: 47px;
    height: 13px;
    margin: auto 16px;
}

.oracle-explainer p {
    color: #999999;
    font-size: 12px;
    line-height: 14px;
    width: 128px;
}

.middle-header {
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: -10;
    min-width: 1153px;
}

.middle-header div {
    margin-left: 13px;
    margin-right: 13px;
}

.middle-header p {
    font-size: 18px;
    line-height: 32px;
    color: #24272A;
    margin-top: 40px;
}

.contract-box {
    margin-top: 26px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "a b c d d e f g";
    justify-content: center;
    align-items: center;
}

.contract-box-one {
    grid-area: a;
}

.contract-box-one p, .bobtokens-inactive, .bobtokens-active {
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    position: absolute;
    color: #24272A;
    margin-top: -104px;
    margin-left: 16px;
}

.bobtokens-inactive {
    opacity: 0;
}

.contract-box-two {
    grid-area: b;
    margin: auto auto;
}

.contract-box-three {
    grid-area: c;
}

.contract-box-four {
    grid-area: d;
}

.contract-box-five {
    grid-area: e;
    margin: auto auto;
}

.contract-box-six {
    grid-area: f;
}

.contract-box-seven {
    grid-area: g;
}

#second-arrow, #fourth-arrow, #long-arrow-two {
    margin-top: 16px;
}

.explainer-two {
    margin-left: 132px;
}

.explainer-three {
    margin-left: 285px;
}

.explainer-four {
    margin-left: 690px;
}

.explainer-five {
    margin-left: 391px;
}

.explainer-background {
    position: absolute;
    margin-top: -40px;
    z-index: 5;
}

.explainer-one-content {
    margin: 32px;
    width: 350px;
    position: relative;
    z-index: 10;
}

.explainer-one-content h4 {
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #25282A;
}

.description {
    font-size: 14px;
    color: #666666;
}

.glass {
    margin-left: 8px;
    height: 16px;
    width: 16px;
}

.explainer-button {
    display: flex;
    font-size: 14px;
    color: #0071CE;
}

.explainer-button p {
    margin-top: 0px;
}

.explainer-button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.learn-more {
    position: absolute;
    margin-top: 0px;
    width: 210px;
    height: 45px;
    background-color: #6AD1E3;
    border-radius: 5px;
    border:none;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    opacity: 1;
    border: none;
    outline:none;
    transition: all 0.5s;
}

.learn-more:hover {
    background-color: #0071CE;
    cursor: pointer;
    border: none;
    outline:none;
}

.nearkat-one {
    position: absolute;
    margin-top: -48px;
    margin-left: 270px;
}

.nearkat-two {
    position: absolute;
    margin-top: -80px;
    margin-left: 286px;
}

.step-one {
    position: absolute;
    margin-top: 0px;
    margin-left: -56px;
}

.step-two {
    position: absolute;
    margin-top: 0px;
    margin-left: -56px;
    opacity: 0;
}

.transfer-ten-inactive {
    position: absolute;
    margin-left: 176px;
    margin-top: 24px;
    opacity: 0;
}

.transfer-ten-active {
    position: absolute;
    margin-left: 176px;
    margin-top: 24px;
    opacity: 1;
}

.bob-contract-lock-inactive {
    position: absolute;
    margin-left: 176px;
    margin-top: 24px;
    opacity: 0;
}

.bob-contract-lock-active {
    position: absolute;
    margin-left: 260px;
    margin-top: 24px;
    opacity: 1;
}



.counter-gap {
    margin-top: 504px;
}

.counter {
    display: flex;
    justify-content: center;
    position: relative;
}

.counter button {
    width: 94px;
    height: 45px;   
    background: #8FD6BD;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    outline:none;
    transition: all 0.5s;
}

.counter button:hover {
    background-color: #00C08B;
    border: none;
    outline:none;
}


/*# sourceMappingURL=/src.e31bb0bc.css.map */