
.counter {
    position: absolute;
    margin-top: 140px;
    left: 0;
    right: 0;
    text-align: center;
    justify-content: center;
}

.counter button {
    width: 94px;
    margin: 8px;
    background: #8FD6BD;
    cursor: pointer;
}

.counter button:hover {
    background-color: #00C08B;
    border: none;
    outline:none;
}
