.search-box {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    margin: auto auto;
    height: 72px;
    width: 1153px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "a a b b";
    grid-template-rows: minmax(0, 1fr);
    justify-content: left;
    align-items: center;
    background: #FFFFFF;
    border: 4px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 10px;
}

.search-box p {
  font-size: 14px;
  color: #999999;
}

.search-box-one {
  max-height: 72px;
  display: flex;
  grid-area: a;
  border-right: 4px solid #E6E6E6;
}

.search-result p {
  margin-top: 20px;
  margin-left: 16px;
  font-size: 28px;
  color: #24272A;
}

.search-box-two {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  grid-area: b;
}

.alice-box, .bob-box {
  display: flex;
  width: 250px;
  margin-right: 16px;
}

.search {
    margin: 13px;
    width: 232px;
    height: 45px;
    background: #F8F8F8;
    border: 2px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 5px;
    color: #25282A;
}

.search:disabled {
  cursor: default;
}

select{
  padding-left: 10px;
}

#option {
  font-size: 18px;
  color: #24272A;
}

.search {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  border: none;
  outline: none;
  appearance: none;
  -moz-appearance: none;
  cursor: pointer; 
  border-radius: 3px; 
}

select {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
}

.submit-button {
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #00C08B;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    height: 45px;
    width: 94px;
    line-height: 22px;
    outline:none;
    text-align: center;
}

.submit-button:hover{
  background-color: #00af7d;
}

.submit-button:disabled {
    cursor: not-allowed;
    background-color: #8FD6BD;
}

.alice, .bob {
  margin-right: 8px;
  min-width: 45px;
  min-height: 45px;
}

#bold {
  color: #24272A;
}

#bold-two {
  background-color: black;
  color: white;
  padding: 1px;
  border-radius: 4px;
}

button:active {
  border: none;
  transition: 0.5s;
}

.spinner {
  margin-top: -8px;
}
