.sign-out {
    margin-top: 580px;
}


#sign-out {
    width: 94px;
    height: 45px;   
    background: #8FD6BD;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border: none;
  }
  
  #sign-out:hover {
    background-color: #00C08B;
  }
  